<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

    <targets>
        <!-- 文件日志 -->
        <target xsi:type="File" name="logfile"
                fileName="${specialfolder:folder=MyDocuments}/TelegramAutomation/logs/${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
                archiveFileName="${specialfolder:folder=MyDocuments}/TelegramAutomation/logs/archives/log.{#}.txt"
                archiveNumbering="Date"
                archiveEvery="Day"
                maxArchiveFiles="7"/>
        
        <!-- 错误日志 -->
        <target xsi:type="File" name="errorfile"
                fileName="${specialfolder:folder=MyDocuments}/TelegramAutomation/logs/errors/${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
                archiveFileName="${specialfolder:folder=MyDocuments}/TelegramAutomation/logs/errors/error.{#}.txt"
                archiveNumbering="Date"
                archiveEvery="Day"
                maxArchiveFiles="30"/>
        
        <!-- 调试控制台 -->
        <target xsi:type="Console" name="console"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
    </targets>

    <rules>
        <!-- 错误日志单独记录 -->
        <logger name="*" minlevel="Error" writeTo="errorfile" />
        <!-- 普通日志 -->
        <logger name="*" minlevel="Info" writeTo="logfile,console" />
    </rules>
</nlog> 